<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <h1><%= "Ruby on Rails Training"%></h1>
    <p>
    <b><%= t '.email.created_at' %> </b> <%= @rent.created_at %><br>
      <b><%= t '.book.details' %> </b>
      <br>
          <b><%= t '.book.gender' %> </b><%= @book.gender %><br>
          <b><%= t '.book.author' %> </b><%= @book.author %><br>
          <b><%= t '.book.publisher' %> </b><%= @book.publisher %><br>
          <b><%= t '.book.year' %> </b><%= @book.release_date %><br>
          <b><%= t '.book.title' %> </b><%= @book.title %><br>
          <b><%= t '.book.image' %> </b><%= @book.image %><br>
      <b><%= t '.email.initial_date' %> </b> <%= @rent.from %><br>
      <b><%= t '.email.end_date' %> </b> <%= @rent.to %><br>
    </p>
    <p><%= t '.email.bye' %></p>
  </body>
</html>
